<div class="container">
    <h3>Insira o usuário no qual deseja visualizar a galeria</h3>

    <!-- cria formulario -->
    <form [formGroup]="meuFormularioReativo" novalidate>

      <!-- cria label de nome para este formulario -->
      <div class="form-group">
        <label >Nome</label>
            <input class="form-control" formControlName="nome" type="text">
      </div>
      <!-- Sua mensagem de validação -->
      <div *ngIf="meuFormularioReativo.controls['nome'].invalid && (meuFormularioReativo.controls['nome'].dirty || meuFormularioReativo.controls['nome'].touched)" class="alert alert-danger">
        <div *ngIf="meuFormularioReativo.controls['nome'].errors.required">
          Nome é obrigatório
        </div>
      </div>
      
      <!-- label idade -->
      <div class="form-group">
            <label>Sobrenome</label>
            <input class="form-control" formControlName="sobrenome" type="text">
      </div>
      <div *ngIf="meuFormularioReativo.controls['sobrenome'].invalid && (meuFormularioReativo.controls['sobrenome'].dirty || meuFormularioReativo.controls['sobrenome'].touched)" class="alert alert-danger">
          <div *ngIf="meuFormularioReativo.controls['sobrenome'].errors.required">
            Sobrenome é obrigatório
          </div>
      </div>
        
      <!-- mais labels aqui... -->
      
      <!-- botão, chama uma funcao que está no componente deste html (form-home.componente.ts)-->
      <button type="submit" 
              [disabled]="meuFormularioReativo.pristine || meuFormularioReativo.invalid"
              class="btn btn-primary" 
              (click)="proximaPagina(meuFormularioReativo.controls['nome'].value)">Carregar</button>
    </form>
    <br />
    <!-- <p>Form value: {{ meuFormularioReativo.value | json }}</p>
    <p>Form status: {{ meuFormularioReativo.status | json }}</p> -->
</div>