<!-- tipos de bindings -->
<!-- Data binding, [] : o dado que vem do componente para o template -->
<!-- Event binding, () : o dado vem do template para o componente -->

<!-- keyup a cada digito feito pegará o valor do input e jogando na propriedade 'filtroDeFotos' de 'photo-list.component' -->
<!-- fazendo um 'event binding' entre parenteses -->
<div class="text-center mt-3 mb-3">
    <form>
        <!-- caixa de pesquisa -->
        <input
            class="rounded"
            type="search"
            placeholder="Pesquise por uma foto..."
            autofocus
            (keyup) = "filtroDeFotos = $event.target.value"
            >
    </form>
</div>

<!-- faz a propriedade de InBounded [photos] de photo-list.component' receber as fotos vindas da api -->

<!-- cria um pipe = |, personalizado para que o filtro possa ser aplicado, passando o critério que é o 'filter' -->
<!-- 'filterByDescription' é o nome filtro criado -->
<ap-photos [photos]="minhasPhotosVindasDaAPI | filterByDescription: filtroDeFotos"></ap-photos>